ds8/test_xlab/.vscode
ds8/test_xlab/.vs
ds8/test_xlab/UserSettings
ds8/test_xlab/Library
ds8/test_xlab/obj
ds8/test_xlab/Logs
ds9/Mot/Library
ds9/Mot/UserSettings
ds9/Mot/obj
ds9/Mot/Logs
ds9/Mot/.vscode
ds9/Mot/.vs
